body {
	background-color: #eef2ff;
	padding: 0;
}

h1 {
	color: gray;
}

.media-container img {
	margin-left: 20px;
	cursor: zoom-in;
}

.media-container .media {
	display: none;
}

.zoom-check {
	display: none;
}

.zoom-check:checked ~ label > .media {
	width: auto;
	display: block;
	cursor: zoom-out;
}

.zoom-check:checked ~ label > .thumbnail {
	display: none;
}

#show-form:checked~#new-reply {
	display: none;
}

.form {
	position: -webkit-sticky;
        position: sticky;
        top: 10px;
	left: 100%;
	margin-right: 10px;
	width: 245px;
}

.form-container {
        top: 10px;
	height: 0;
	position: -webkit-sticky;
        position: sticky;
}

.post {
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #d6daf0;
	width: auto;
	display: inline-block;
}

.post img {
	float: left;
	margin-right: 25px;
	margin-bottom: 10px;
}

.content a {
	color: #D00;
}

.content .green-text {
	color: #789922;
}

.content {
	margin-left: 10px;
}

.name {
	color: #117743;
	font-weight: bold;
}

.title {
	color: #0f0c5d;
	font-weight: bold;
}

.board-title {
	text-align: center;
	color: #af0a0f;
}

.separator {
	border-bottom: 2px solid gray;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bar {
	font-size: 10pt;
}

.catalog {
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	max-width: 1920px;
}

.thread img {
	max-width: 150px;
	max-height: 200px;
}

.thread {
	display: inline;
	width: 150px;
	height: 250px;
	text-align: center;
	padding: 20px;
	overflow: hidden;
}

.new-thread {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.new-thread input {
	width: 300px;
}

.new-thread textarea {
	width: 300px;
}

.boards table {
	width: 300px;
	border: 2px solid black;
	margin: auto;
}

.boards th {
	background-color: #9988ee;
}

.boards td {
	background-color: #d6daf0;
}

.boards h2 {
	text-align: center;
	font-size: 16pt;
	margin: 3px;
}

.boards a {
	text-decoration: none;
}

.boards a:hover {
	color: red;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1d1f20;
	}
	a {
		color: #3391ff;
	}
	p {
		color: #e8e6e3;
	}
	div {
		color: #e8e6e3;
	}
	.post {
		background-color: #282b2d;
	}
	.title {
		color: #9ab9f2;
	}
	.name {
		color: #7fedb5;
	}
	.boards th {
		background-color: #211174;
	}
	.boards td {
		background-color: #282b2d;
	}
}
