body {
	background-color: #222;
	padding: 0;
}

h1 {
	color: gray;
}

input[type=checkbox] {
	display: none;
}

.container img {
	margin-left: 20px;
	cursor: zoom-in;
}

.container .media {
	display: none;
}

input[type=checkbox]:checked ~ label > .media {
	width: auto;
	display: block;
	cursor: zoom-out;
}

input[type=checkbox]:checked ~ label > .thumbnail {
	display: none;
}

.post {
	padding: 3px;
	padding-left: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #aaa;
}

.content {
	margin-left: 10px;
}

.name {
	color: #117743;
	font-weight: bold;
}
