{{define "admin-board"}}
<div class="center"><h3>Boards</h3></div>
<table>
	<tr>
		<th>Enabled</th>
		<th>Board</th>
		<th>Name</th>
		<th>Description</th>
		<th>Owner</th>
		<th>Options</th>
		<th></th>
		<th></th>
	</tr>
	{{range .Boards}}
	<tr>
		<form method="POST" action="/config/board/update/{{.ID}}">
			<td><input type="checkbox" name="enabled" {{if not .Disabled}}checked{{end}}></td>
			<td><input type="text" name="board" value="{{.Name}}" required></td>
			<td><input type="text" name="name" value="{{.LongName}}" required></td>
			<td><input type="text" name="description" value="{{.Description}}" required></td>
			<td><input type="text" name="owner" value="{{.Owner.Name}}"></td>
			<td>
			<label>Country flags</label>
			<input type="checkbox" name="country-flag" {{if .CountryFlag}}checked{{end}}>
			<br>
			<label>Poster ID</label>
			<input type="checkbox" name="poster-id" {{if .PosterID}}checked{{end}}>
			<br>
			<label>Read-only</label>
			<input type="checkbox" name="read-only" {{if .ReadOnly}}checked{{end}}>
			<br>
			<label>Private</label>
			<input type="checkbox" name="private" {{if .Private}}checked{{end}}>
			<br>
			</td>
			<td><input type="submit" value="Update"></td>
			<td><input type="submit" value="Delete" formaction="/config/board/delete/{{.ID}}" {{if not .Disabled}} disabled{{end}}></td>
			<input type="hidden" name="csrf" value="{{get "csrf"}}">
		</form>
	</tr>
	{{end}}
	<tr>
		<form method="POST" action="/config/board/create">
			<td><input type="checkbox" name="enabled" checked></td>
			<td><input type="text" name="board" required></td>
			<td><input type="text" name="name" required></td>
			<td><input type="text" name="description" required></td>
			<td><input type="text" name="owner" disabled></td>
			<td></td>
			<td><input type="submit" value="Create"></td>
			<input type="hidden" name="csrf" value="{{get "csrf"}}">
		</form>
	</tr>
</table>
{{end}}
