{{define "admin-image-ban"}}
<div style="padding: 30px;"></div>
<div class="center"><h3>Banned Images</h3></div>
<table>
<tr>
	<th>Hash</th>
	<th>Date</th>
	<th></th>
</tr>
{{range .BannedImages}}
<tr>
<form method="POST" action="/config/media/ban/cancel">
	<td>{{.Hash}}</td>
	<td>{{.CreatedAt}}</td>
	<td><input type="submit" value="Cancel"></td>
	<input type="hidden" name="hash" value="{{.Hash}}"></td>
	<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form>
</tr>
{{end}}
<tr>
<form method="POST" action="/config/media/ban">
	<td><input type="text" name="hash" required></td>
	<td></td>
	<td><input type="submit" value="Add"></td>
	<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form>
</tr>
</table>
<p class="error">{{once "image-ban-error"}}</p>
{{end}}
