{{define "admin-media"}}
<form method="POST" action="/config/media/update" enctype="multipart/form-data">
	<table>
		<tr>
			<th colspan="2">Media</th>
		</tr>
		<tr>
			<td>Media storage path</td>
			<td><input type="text" name="media" value="{{.Config.Media.Path}}" {{if .Config.Media.InDatabase}}disabled{{else}}required{{end}}></td>
		</tr>
		<tr>
			<td>Temporary directory path</td>
			<td><input type="text" name="tmp" value="{{.Config.Media.Tmp}}" required></td>
		</tr>
		<tr>
			<td>Maximum media size</td>
			<td><input type="text" name="maxsize" value="{{.Config.Media.MaxSize}}" required></td>
		</tr>
		<tr>
			<td>Banned images threshold</td>
			<td><input type="text" name="threshold" value="{{.Config.Media.ImageThreshold}}" required></td>
		</tr>

		<tr>
			<td>Media approval queue</td>
			<td><input type="checkbox" name="approval" {{if .Config.Media.ApprovalQueue}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Enable video support</td>
			<td><input type="checkbox" name="video" {{if .Config.Media.AllowVideos}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Store media inside the database</td>
			<td><input type="checkbox" name="indb" {{if .Config.Media.InDatabase}}checked{{end}}></td>
		</tr>
		<tr>
			<td colspan="2"><div class="center"><img class="icon" src="/static/pending" alt="favicon"></div></th>
		</tr>
		<tr>
			<td>'Pending Approval' custom image</td>
			<td>
				<input type="file" name="pending">
				<input type="submit" value="Clear" formaction="/config/media/clear">
			</td>
		</tr>
		<tr>
			<td colspan="2"><div class="center"><input type="submit" value="Update"></div></td>
		</tr>
	</table>
	<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form>
{{end}}
