{{define "admin-media"}}
<form method="POST" action="/config/media/update" enctype="multipart/form-data">
	<table>
		<tr>
			<th colspan="2">Media</th>
		</tr>
		<tr>
			<td>Media storage path</td>
			<td><input type="text" name="media" value="{{.Config.Media.Path}}" {{if .Config.Media.InDatabase}}disabled{{else}}required{{end}}></td>
		</tr>
		<tr>
			<td>Temporary directory path</td>
			<td><input type="text" name="tmp" value="{{.Config.Media.Tmp}}" required></td>
		</tr>
		<tr>
			<td>Maximum media size</td>
			<td><input type="text" name="maxsize" value="{{.Config.Media.MaxSize}}" required></td>
		</tr>
		<tr>
			<td>Banned images threshold</td>
			<td><input type="text" name="threshold" value="{{.Config.Media.ImageThreshold}}" required></td>
		</tr>

		<tr>
			<td>Media approval queue</td>
			<td><input type="checkbox" name="approval" {{if .Config.Media.ApprovalQueue}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Pending approval notification URL</td>
			<td><input type="text" name="ntfy" value="{{.Config.Media.NotificationURL}}" required></td>
		</tr>

		<tr>
			<td>Enable video support</td>
			<td><input type="checkbox" name="video" {{if .Config.Media.AllowVideos}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Store media inside the database</td>
			<td><input type="checkbox" name="indb" {{if .Config.Media.InDatabase}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Hotlink protection</td>
			<td>
				<select name="hotlink-shield">
{{$i := .Config.Media.HotlinkShield}}
					<option value="0">None</option>
					<option {{if eq $i 1}}selected{{end}} value="1">Fast</option>
					<option {{if eq $i 2}}selected{{end}} value="2">Standard</option>
					<option {{if eq $i 3}}selected{{end}} value="3">High</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2"><div class="center"><img class="icon" src="/static/pending" alt="favicon"></div></th>
		</tr>
		<tr>
			<td>'Pending Approval' custom image</td>
			<td>
				<input type="file" name="pending">
				<input type="submit" value="Clear" formaction="/config/media/pending/clear">
			</td>
		</tr>
		<tr>
			<td colspan="2"><div class="center"><img class="icon" src="/static/spoiler" alt="favicon"></div></th>
		</tr>
		<tr>
			<td>'Spoiler' custom image</td>
			<td>
				<input type="file" name="spoiler">
				<input type="submit" value="Clear" formaction="/config/media/spoiler/clear">
			</td>
		</tr>
		<tr>
			<td colspan="2"><div class="center"><input type="submit" value="Update"></div></td>
		</tr>
	</table>
	<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form>
<div class="center"><h3>Banned Images</h3></div>
<table>
<tr>
	<th>Hash</th>
	<th>Date</th>
	<th></th>
</tr>
{{range .BannedImages}}
<tr>
<form method="POST" action="/config/media/ban/cancel">
	<td>{{.Hash}}</td>
	<td>{{.CreatedAt}}</td>
	<td><input type="submit" value="Cancel"></td>
	<input type="hidden" name="hash" value="{{.Hash}}"></td>
	<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form>
</tr>
{{end}}
<tr>
<form method="POST" action="/config/media/ban">
	<td><input type="text" name="hash" required></td>
	<td></td>
	<td><input type="submit" value="Add"></td>
	<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form>
</tr>
</table>
{{end}}
