<div class="side-menu">
<p>Settings</p>
<ul>
{{range (arr "main" "media" "ssl" "acme" "board" "theme" "banner" "favicon" "ban" "image-ban" "account" "rank" "rate-limit")}}
{{$v := not (eq . (param "page"))}}
	<li>{{if $v}}<a href="/dashboard/{{.}}">{{end}}{{capitalize .}}{{if $v}}</a>{{end}}</li>
{{end}}
</ul>
</div>
<div class="boards">
{{render (print "admin-" (param "page")) .}}
</div>
<p class="info">{{once "restart"}}</p>
<p class="error">{{once "restart-error"}}</p>
<p class="error">{{once (print (param "page") "-error")}}</p>
