{{define "admin-acme"}}
<form method="POST" action="/config/acme/update">
	<table>
		<tr>
			<th colspan="2">Let's Encrypt ACME</th>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="address" value="{{.Config.Acme.Email}}"></td>
		</tr>
		<tr>
			<td>Disable 'www.'</td>
			<td><input type="checkbox" name="disable-www" {{if .Config.Acme.DisableWWW}}checked{{end}}></td>
		</tr>
		{{$no_acme := false}}
		{{if (and .Config.SSL.DisableHTTP .Config.SSL.Enabled)}}{{$no_acme = true}}{{end}}
		{{if $no_acme}}
		<tr>
			<td colspan="2">HTTP must be enabled and accesible from port 80</td>
		</tr>
		{{end}}
		<tr>
			<td colspan="2"><div class="center"><input {{if $no_acme}}disabled{{end}} type="submit" value="Generate"></div></td>
		</tr>
	</table>
	<p class="error">{{once "acme-error"}}</p>
	<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form>
{{end}}
