{{$hash := pendingMedia}}
<div class="boards">
<div class="new-form">
{{if $hash}}
<div class="media-container new-form">
  <input type="checkbox" class="zoom-check" id="zoom-check">
    <label for="zoom-check">
    <img class="thumbnail" src="/media/thumbnail/{{thumbnail $hash}}" alt="thumbnail">
{{if isPicture $hash}}
                <img class="media" loading="lazy" src="/media/{{$hash}}" alt="{{.Number}}">
{{end}}
{{if isVideo $hash}}
                <div class="media media-video">
                        <p>[-]</p>
                        <video controls>
                        <source src="/media/{{$hash}}" type="video/{{extension $hash}}">
                        Your browser does not support this video format.
                        </video>
                </div>
{{end}}
  </label>
</div>
<br>
<form method="POST" action="/approval/accept">
<div class="space-around">
<button>Approve</button>
<button formaction="/approval/deny">Deny</button>
<button formaction="/approval/ban">Ban Media</button>
</div>
<input type="hidden" name="media" value="{{$hash}}">
<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form>
{{else}}
<p>No media left in the queue</p>
{{end}}
{{if hasUnapproved}}
<div class="new-form">
<form method="POST" action="/approval/accept">
<button formaction="/approval/accept/all">Approve All</button>
<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form>
</div>
{{end}}
</div>
</div>
