{{define "banner-configuration"}}
<div style="padding: 30px;"></div>
<div class="center"><h3>Banners</h3></div>
<table>
	<tr>
		<th colspan="2">Banners</th>
	</tr>
{{range banners}}
	<tr>
		<td><img class="banner" src="/banner/{{.}}" alt="banner-{{.}}"></td>
		<form method="POST" action="/config/banner/delete/{{.}}">
			<td><input type="submit" value="Delete"></td>
			<input type="hidden" name="csrf" value="{{csrf}}">
		</form>
	</tr>
{{end}}
	<tr>
		<form method="POST" action="/config/banner/create" enctype="multipart/form-data">
			<td><input type="file" name="banner" required></td>
			<td><input type="submit" value="Add"></td>
			<input type="hidden" name="csrf" value="{{csrf}}">
		</form>
	</tr>
</table>
<p class="error">{{once "banner-error"}}</p>
{{end}}
{{define "banner"}}
{{if not (eq (len banners) 0)}}
<div class="center"><img class="banner banner-box" src="/banner/{{banner}}" alt="banner"></div>
{{end}}
{{end}}
