<h2 class="board-title">/{{.Name}}/ - {{.LongName}}</h2>
<p class="board-title">{{.Description}}</p>
{{ template "newthread" .Name }}
{{ template "top" .Name }}
{{range .Threads}}
<div>
	<a href="{{$.Name}}/{{.Number}}">{{.Title}}</a>
</div>
{{end}}
{{ template "bottom" .Name }}
