<div class="boards">
<h2>My boards</h2>
<table>
{{range self.GetBoards}}
        <tr>
		<th>Enabled</th>
		<th>Board</th>
                <th>Name</th>
                <th>Description</th>
                <th>Options</th>
		<th></th>
		<th></th>
        </tr>
	<tr>
		<form method="POST" action="/boards/{{.ID}}/update">
                        <td><input type="checkbox" name="enabled" {{if not .Disabled}}checked{{end}}></td>
                        <td><input type="text" name="board" value="{{.Name}}" required></td>
                        <td><input type="text" name="name" value="{{.LongName}}" required></td>
                        <td><input type="text" name="description" value="{{.Description}}" required></td>
			<td>
			{{$id := randID}}
			<label for="{{$id}}">Country flags</label>
			<input id="{{$id}}" type="checkbox" name="country-flag" {{if .CountryFlag}}checked{{end}}>
			<br>
			{{$id := randID}}
			<label for="{{$id}}">Poster ID</label>
			<input id="{{$id}}" type="checkbox" name="poster-id" {{if .PosterID}}checked{{end}}>
			<br>
			{{$id := randID}}
			<label for="{{$id}}">Read-only</label>
			<input id="{{$id}}" type="checkbox" name="read-only" {{if .ReadOnly}}checked{{end}}>
			<br>
			{{$id := randID}}
			<label for="{{$id}}">Private</label>
			<input id="{{$id}}" type="checkbox" name="private" {{if .Private}}checked{{end}}>
			<br>
			</td>
			<td><input type="submit" value="Update"></td>
			<td><input type="submit" value="Delete" formaction="/boards/{{.ID}}/delete" {{if not .Disabled}} disabled{{end}}></td>
			<input type="hidden" name="owner" value="{{self.Name}}">
			<input type="hidden" name="csrf" value="{{get "csrf"}}">
		</form>
	</tr>
	<tr>
		<td colspan="7">
<table style="border: none;">
        <tr>
		<th colspan="4">Members</th>
	</tr>
	{{$ID := .ID}}
	{{range .GetMembers}}
	<tr>
		<form method="POST" action="/boards/{{$ID}}/member">
			<td><input type="text" disabled value="{{.Member.Name}}"></td>
			<td>
			<select name="rank">
				{{$rank := .Rank.Name}}
				{{range memberRanks}}
				<option {{if eq . $rank}}selected{{end}} value="{{.}}">{{capitalize .}}</option>
				{{end}}
			</select>
			</td>
			<td><input type="submit" value="Update"></td>
			<td><input type="submit" value="Remove" formaction="/boards/{{$ID}}/remove"></td>
			<input type="hidden" name="csrf" value="{{get "csrf"}}">
			<input type="hidden" name="name" value="{{.Member.Name}}">
		</form>
	</tr>
	{{end}}
	<tr>
		<form method="POST" action="/boards/{{.ID}}/add">
			<td><input type="text" name="name" required></td>
			<td>
				<select name="rank">
					{{range memberRanks}}
					<option value="{{.}}">{{capitalize .}}</option>
					{{end}}
				</select>
			</td>
			<td><input type="submit" value="Add"></td>
			<input type="hidden" name="csrf" value="{{get "csrf"}}">
		</form>
	</tr>
</table>

		</td>
	</tr>
{{end}}
{{if can "CREATE_BOARD"}}
	<tr>
		<form method="POST" action="/boards/create">
			<td><input type="checkbox" name="enabled" checked></td>
			<td><input type="text" name="board" required></td>
			<td><input type="text" name="name" required></td>
			<td><input type="text" name="description" required></td>
			<td></td>
			<td><input type="submit" value="Create"></td>
			<td></td>
			<input type="hidden" name="csrf" value="{{get "csrf"}}">
		</form>
	</tr>
{{end}}
</table>
<p class="error">{{once "boards-error"}}</p>
</div>
