<div class="boards">
<h2>My boards</h2>
<table>
{{range self.GetBoards}}
        <tr>
		<th>Enabled</th>
		<th>Board</th>
                <th>Name</th>
                <th>Description</th>
                <th>Options</th>
		<th></th>
        </tr>
	<tr>
		<form method="POST" action="/boards/update/{{.ID}}">
                        <td><input type="checkbox" name="enabled" {{if not .Disabled}}checked{{end}}></td>
                        <td><input type="text" name="board" value="{{.Name}}" required></td>
                        <td><input type="text" name="name" value="{{.LongName}}" required></td>
                        <td><input type="text" name="description" value="{{.Description}}" required></td>
			<td>
			{{$id := randID}}
			<label for="{{$id}}">Country flags</label>
			<input id="{{$id}}" type="checkbox" name="country-flag" {{if .CountryFlag}}checked{{end}}>
			<br>
			{{$id := randID}}
			<label for="{{$id}}">Poster ID</label>
			<input id="{{$id}}" type="checkbox" name="poster-id" {{if .PosterID}}checked{{end}}>
			<br>
			{{$id := randID}}
			<label for="{{$id}}">Read-only</label>
			<input id="{{$id}}" type="checkbox" name="read-only" {{if .ReadOnly}}checked{{end}}>
			<br>
			{{$id := randID}}
			<label for="{{$id}}">Private</label>
			<input id="{{$id}}" type="checkbox" name="private" {{if .Private}}checked{{end}}>
			<br>
			</td>
			<td><input type="submit" value="Update"></td>
			<input type="hidden" name="csrf" value="{{get "csrf"}}">
		</form>
	</tr>
{{end}}
</table>
</div>
