{{$board := .Board}}
{{$pages := .Pages}}
<h2 class="board-title">/{{$board.Name}}/ - {{$board.LongName}}</h2>
<p class="board-title">{{$board.Description}}</p>
{{ template "newthread" $board }}
{{ template "top" $board.Name }}
{{range $i, $e := $board.Threads}}
{{if (or (not (index $e.Posts 0).Disabled) isLogged)}}
{{if $i}}
<div class="separator"></div>
{{end}}
{{ template "thread-template" . }}
<a href="/{{$board.Name}}/{{.Number}}">View thread</a>
{{end}}
{{end}}
<div>
{{range $i := $pages}}
<a href="/{{$board.Name}}?page={{$i}}">[{{$i}}]</a>
{{end}}
</div>
{{ template "bottom" $board.Name }}
