{{ template "header" .Header }}
{{$board := .Data.Board}}
{{$pages := .Data.Pages}}
<h2 class="board-title">/{{$board.Name}}/ - {{$board.LongName}}</h2>
<p class="board-title">{{$board.Description}}</p>
{{ template "newthread" . }}
{{ template "top" $board.Name }}
{{range $i, $e := $board.Threads}}
{{if (or (not (index $e.Posts 0).Disabled) $.Header.Account.Logged)}}
{{if $i}}
<div class="separator"></div>
{{end}}
{{ template "thread-template" (thread . $.Header.Account) }}
<a href="/{{$board.Name}}/{{.Number}}">View thread</a>
{{end}}
{{end}}
<div>
{{range $i := $pages}}
<a href="/{{$board.Name}}?page={{$i}}">[{{$i}}]</a>
{{end}}
</div>
{{ template "bottom" $board.Name }}
{{ template "footer" . }}
