{{define "bottom"}}
<div class="separator"></div>
<div class="bar">
[<a href="/{{.}}">Return</a>]
[<a href="/{{.}}/catalog">Catalog</a>]
[<a href="#">Top</a>]
[<a href="">Update</a>]
</div>
{{end}}
{{ template "footer" . }}
