{{$board := .}}
{{template "banner"}}
<h2 class="board-title">/{{$board.Name}}/ - {{$board.LongName}}</h2>
<p class="board-title">{{$board.Description}}</p>
{{ template "newthread" . }}
{{ template "top" $board.Name }}
<div class="catalog">
{{range $board.Threads}}
{{if (or (not (index .Posts 0).Disabled) $.Header.Account.Logged)}}
{{$border := ""}}
{{if (and (hasRank "moderator") (isPending (index .Posts 0).MediaHash))}}
{{$border = "pending-approval"}}
{{end}}
<div class="thread{{if (index .Posts 0).Disabled}} thread-hidden{{end}}">
	<a href="{{.Number}}">
		<img class="{{$border}}" src="/media/thumbnail/{{(index .Posts 0).Thumbnail}}" alt="{{.Number}}">
	</a>
	<p class="thread-info">R: {{.Replies}} / I: {{.Images}}</p>
	<p class="title">{{.Title}}</p>
	<p class="content">{{ (index .Posts 0).Content }}</p>
</div>
{{end}}
{{end}}
</div>
{{ template "bottom" $board.Name }}
