<h2 class="board-title">/{{.Name}}/ - {{.LongName}}</h2>
<p class="board-title">{{.Description}}</p>
{{ template "top" .Name }}
<div class="catalog">
{{range .Threads}}
<div class="thread">
	<a href="{{.Number}}">
    		<img src="/thumbnail/{{(index .Posts 0).Thumbnail}}" alt="{{.Number}}">
	</a>
	<p class="title">{{.Title}}</p>
	<p>{{ (index .Posts 0).Content }}</p>
</div>
{{end}}
</div>
{{ template "bottom" .Name }}
