<div class="boards">
	<form method="POST" action="/config/update">
	<table>
		<tr>
			<th colspan="2">Configuration</th>
		</tr>
		<tr>
			<td>Default theme</td>
			<td>
				<select name="theme">
{{range .Themes}}
					<option {{if eq $.Config.Home.Theme .}}selected="selected"{{end}}value="{{.}}">{{.}}</option>
{{end}}
				</select>
			</td>
		</tr>
		<tr>
			<td>Website title</td>
			<td><input type="text" name="title" value="{{.Config.Home.Title}}" required></td>
		</tr>
		<tr>
			<td>Website description</td>
			<td><input type="text" name="description" value="{{.Config.Home.Description}}" required></td>
		</tr>
		<tr>
			<td>Enable captcha</td>
			<td><input type="checkbox" name="captcha" {{if .Config.Captcha.Enabled}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Domain</td>
			<td><input type="text" name="domain" value="{{.Config.Web.Domain}}" required></td>
		</tr>
		<tr>
			<td>Socket address</td>
			<td><input type="text" name="listener" value="{{.Config.Web.Listener}}" required></td>
		</tr>
		<tr>
			<td>Default name</td>
			<td><input type="text" name="defaultname" value="{{.Config.Post.DefaultName}}" required></td>
		</tr>
		<tr>
			<td>Media</td>
			<td><input type="text" name="media" value="{{.Config.Media.Path}}" {{if .Config.Media.InDatabase}}disabled{{else}}required{{end}}></td>
		</tr>
		<tr>
			<td>Maximum media size</td>
			<td><input type="text" name="maxsize" value="{{.Config.Media.MaxSize}}" required></td>
		</tr>
		<tr>
			<td>Media approval queue</td>
			<td><input type="checkbox" name="approval" {{if .Config.Media.ApprovalQueue}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Enable video support</td>
			<td><input type="checkbox" name="video" {{if .Config.Media.AllowVideos}}checked{{end}}></td>
		</tr>

		<tr>
			<td>Store media inside the database</td>
			<td><input type="checkbox" name="indb" {{if .Config.Media.InDatabase}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Temporary Directory Path</td>
			<td><input type="text" name="tmp" value="{{.Config.Media.Tmp}}" required></td>
		</tr>
		<tr>
			<td>Ascii-Only Mode</td>
			<td><input type="checkbox" name="ascii" {{if .Config.Post.AsciiOnly}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Read-Only Mode</td>
			<td><input type="checkbox" name="readonly" {{if .Config.Post.ReadOnly}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Allow registration</td>
			<td><input type="checkbox" name="registration" {{if .Config.Accounts.AllowRegistration}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Maximum threads per board</td>
			<td><input type="text" name="maxthreads" value="{{.Config.Board.MaxThreads}}" required></td>
		</tr>
		<tr>
			<td>Restart process</td>
			<td><input type="submit" formaction="/config/restart" value="Restart"></td>
		</tr>
		<tr>
			<td colspan="2"><div class="center"><input type="submit" value="Update"></div></td>
		</tr>
	</table>
	<p class="error">{{once "config-error"}}</p>
	<p class="info">{{once "restart"}}</p>
	<p class="error">{{once "restart-error"}}</p>
	</form>
	<div style="padding: 30px;"></div>
	<form method="POST" action="/config/acme/update">
	<table>
		<tr>
			<th colspan="2">Let's Encrypt ACME</th>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="address" value="{{.Config.Acme.Email}}"></td>
		</tr>
		<tr>
			<td>Disable 'www.'</td>
			<td><input type="checkbox" name="disable-www" {{if .Config.Acme.DisableWWW}}checked{{end}}></td>
		</tr>
{{$no_acme := false}}
{{if (and .Config.SSL.DisableHTTP .Config.SSL.Enabled)}}{{$no_acme = true}}{{end}}
{{if $no_acme}}
		<tr>
			<td colspan="2">HTTP must be enabled and accesible from port 80</td>
		</tr>
{{end}}
		<tr>
			<td colspan="2"><div class="center"><input {{if $no_acme}}disabled{{end}} type="submit" value="Generate"></div></td>
		</tr>
	</table>
	<p class="error">{{once "acme-error"}}</p>
	</form>

	<div style="padding: 30px;"></div>
	<form method="POST" action="/config/ssl/update" enctype="multipart/form-data">
	<table>
		<tr>
			<th colspan="2">SSL</th>
		</tr>
		<tr>
			<td>Enabled</td>
			<td><input type="checkbox" name="enabled" {{if .Config.SSL.Enabled}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Disable HTTP</td>
			<td><input type="checkbox" name="disable-http" {{if .Config.SSL.DisableHTTP}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Redirect to HTTPS</td>
			<td><input type="checkbox" name="redirect" {{if .Config.SSL.RedirectToSSL}}checked{{end}}></td>
		</tr>
		<tr>
			<td>Socket address</td>
			<td><input type="text" name="address" value="{{.Config.SSL.Listener}}" required></td>
		</tr>
		<tr>
			<td>Certificate</td>
			<td><input type="file" name="certificate"></td>
		</tr>
		<tr>
			<td>Key</td>
			<td><input type="file" name="key"></td>
		</tr>
		<tr>
			<td colspan="2"><div class="center"><input type="submit" value="Update"></div></td>
		</tr>
	</table>
	<p class="error">{{once "ssl-error"}}</p>
	</form>
	<div style="padding: 30px;"></div>
	<div class="center"><h3>Boards</h3></div>
	<table>
	<tr>
		<th>Enabled</th>
		<th>Board</th>
		<th>Name</th>
		<th>Description</th>
		<th></th>
		<th></th>
	</tr>
{{range .Boards}}
	<tr>
<form method="POST" action="/config/board/update/{{.ID}}">
		<td><input type="checkbox" name="enabled" {{if not .Disabled}}checked{{end}}></td>
		<td><input type="text" name="board" value="{{.Name}}" required></td>
		<td><input type="text" name="name" value="{{.LongName}}" required></td>
		<td><input type="text" name="description" value="{{.Description}}" required></td>
		<td><input type="submit" value="Update"></td>
		<td><input type="submit" value="Delete" formaction="/config/board/delete/{{.ID}}" {{if not .Disabled}} disabled{{end}}></td>
</form>
	</tr>
{{end}}
	<tr>
<form method="POST" action="/config/board/create">
		<td><input type="checkbox" name="enabled" checked></td>
		<td><input type="text" name="board" required></td>
		<td><input type="text" name="name" required></td>
		<td><input type="text" name="description" required></td>
		<td><input type="submit" value="Create"></td>
</form>
	</tr>
	</table>

	<div style="padding: 30px;"></div>
	<div class="center"><h3>Themes</h3></div>
	<table>
	<tr>
		<th>Enabled</th>
		<th>Theme</th>
		<th></th>
		<th></th>
	</tr>
{{range .UserThemes}}
	<tr>
<form method="POST" action="/config/theme/update/{{.ID}}">
		<td><input type="checkbox" name="enabled" {{if not .Disabled}}checked{{end}}></td>
		<td><input type="text" name="name" value="{{.Name}}" required></td>
		<td><input type="submit" value="Update"></td>
		<td><input type="submit" value="Delete" formaction="/config/theme/delete/{{.ID}}"></td>
</form>
	</tr>
{{end}}
	<tr>
<form method="POST" action="/config/theme/create" enctype="multipart/form-data">
		<td><input type="checkbox" name="enabled" checked></td>
		<td><input type="text" name="name" required></td>
		<td><input type="file" name="theme" required></td>
		<td><input type="submit" value="Import"></td>
</form>
	</tr>
	</table>

	<div style="padding: 30px;"></div>
	<div class="center"><h3>Favicon</h3></div>
	<table>
	<tr>
		<th>Favicon</th>
		<th></th>
		<th></th>
	</tr>
	<tr>
<form method="POST" action="/config/favicon/update" enctype="multipart/form-data">
		<td><input type="file" name="theme" required></td>
		<td><input type="submit" value="Upload"></td>
</form>
<form method="POST" action="/config/favicon/clear">
		<td><input type="submit" value="Reset"></td>
</form>
	</tr>
	</table>

	<div style="padding: 30px;"></div>
	<div class="center"><h3>Bans</h3></div>
	<table>
	<tr>
		<th>IP</th>
		<th>Start</th>
		<th>End</th>
		<th></th>
	</tr>
{{range .Bans}}
	<tr>
<form method="POST" action="/config/ban/cancel/{{.ID}}">
		<td>{{.String}}</td>
		<td>{{.From}}</td>
		<td>{{.To}}</td>
		<td><input type="submit" value="Cancel"></td>
</form>
	</tr>
{{end}}
	<tr>
<form method="POST" action="/config/ban/create">
		<td><input type="text" name="ip" required></td>
		<td></td>
		<td><input type="datetime-local" name="expiration"></td>
		<td><input type="submit" value="Ban"></td>
</form>
	</tr>
	</table>
	<p class="error">{{once "ban-error"}}</p>

<div style="padding: 30px;"></div>
	<div class="center"><h3>Accounts</h3></div>
	<table>
	<tr>
		<th>Name</th>
		<th>Rank</th>
		<th>Password</th>
		<th></th>
		<th></th>
	</tr>
{{range .Accounts}}
	<tr>
<form method="POST" action="/config/account/update/{{.ID}}">
		<td><input type="text" name="name" required value="{{.Name}}"></td>
		<td>
			<select name="rank">
				{{$Rank := .Rank}}
				{{range ranks}}
				<option {{if eq (rank .) $Rank}}selected{{end}} value="{{.}}">{{capitalize .}}</option>
				{{end}}
			</select>
		</td>
		<td><input type="password" name="password"></td>
		<td><input type="submit" value="Update"></td>
		<td><input type="submit" value="Delete" formaction="/config/account/delete/{{.ID}}"{{if isSelf .}} disabled{{end}}></td>
</form>
	</tr>
{{end}}
	<tr>
<form method="POST" action="/config/account/create">
		<td><input type="text" name="name" required></td>
		<td>
			<select name="rank">
				{{range ranks}}
				<option value="{{.}}">{{capitalize .}}</option>
				{{end}}
			</select>
		</td>
		<td><input type="password" name="password" required></td>
		<td><input type="submit" value="Add"></td>
</form>
	</tr>
	</table>
	<p class="error">{{once "account-error"}}</p>

</div>
