{{define "header"}}
<!DOCTYPE html>
<html lang="{{.Config.Home.Language}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{.Config.Home.Title}}">
		{{if (has "restart")}}<meta http-equiv="refresh" content="1">{{end}}
		<title>{{.Config.Home.Title}}</title>
		<link rel="stylesheet" type="text/css" href="/static/common.css">
		<link rel="stylesheet" type="text/css" href="/static/{{.Theme}}.css">
		{{$mime := .Config.Home.FaviconMime}}
		{{if (eq $mime "")}}
		{{$mime = "image/png"}}
		{{end}}
		<link rel="icon" type="{{$mime}}" href="/static/favicon">
	</head>
	<body>
	<div class="bar">
			[
			{{range $i, $e := .Boards}}
			{{if $i}}
			/
			{{end}}
			<a href="/{{.Name}}">{{.Name}}</a>
			{{end}}
			]
			<div style="float: right;">
			{{if .Logged}}
			<span>Logged in as {{.Account.Name}}</span>
			{{if .Account.HasRank "administrator"}}
			[<a href="/dashboard">Dashboard</a>]
			{{end}}
			[<a href="/disconnect">Disconnect</a>]
			{{else}}
			[<a href="/login">Login</a>]
			{{if .Config.Accounts.AllowRegistration}}
			[<a href="/register">Register</a>]
			{{end}}
			{{end}}
			[<a href="/">Home</a>]
			</div>
	</div>

	<div class="bar bar-second">
		<form method="POST" action="/config/client/theme?origin={{.Url}}">
			<label>Theme:</label>
			<select name="theme">
{{range .Themes}}
			<option {{if eq $.Theme .}}selected="selected"{{end}}value="{{.}}">{{.}}</option>
{{end}}
			</select>
			<input type="submit" value="Update">
		</form>
	</div>
	<br>
	<div id="main">
		<br>
{{end}}
