<h1 class="board-title">IB1</h1>
<div class="boards">
	<table>
	<tr>
		<th>Board</th>
		<th>Description</th>
	</tr>
{{range .}}
	<tr>
		<td><a href="{{.Name}}/">/{{.Name}}/ - {{.LongName}}</a></td>
		<td>{{.Description}}</td>
	</tr>
{{end}}
	</table>
</div>
