{{$thread := .}}
{{$board := $thread.Board}}
{{template "banner"}}
<h2 class="board-title">/{{$board.Name}}/ - {{$board.LongName}}</h2>
{{ template "top" $board.Name }}
<div class="form-container">
<div class="post form new-form">
<label for="show-form" class="btn">Hide new-reply box</label>
<input type="checkbox" id="show-form" {{if (not (has "new-post-error"))}} checked{{end}}>
<form method="post" enctype="multipart/form-data" id="new-reply">
	<label for="name">Name:</label><br>
	<input type="text" id="name" name="name"><br>
{{if isLogged}}
	<label for="signed">Signed:</label>
	<input type="checkbox" name="signed"><br>
{{end}}
{{if can "SHOW_RANK"}}
	<label for="rank">Show rank:</label>
	<input type="checkbox" name="rank"><br>
{{end}}
	<label for="sage">Sage:</label>
	<input type="checkbox" name="sage"><br>
{{if and isCaptchaEnabled (not (can "BYPASS_CAPTCHA"))}}
	<label for="captcha">Captcha:</label><br>
	<img class="captcha" loading="lazy" src="/captcha" alt="captcha"><br>
	<input type="text" id="captcha" name="captcha" required="required"><br>
{{end}}
	<label for="content">Comment:</label><br>
	<textarea rows="5" cols="30" id="content" name="content"></textarea><br>
	<label for="media">File:</label><br>
	<input type="file" id="media" name="media"><br>
	<label for="spoiler">Spoiler:</label>
	<input type="checkbox" name="spoiler"><br>
	<input type="submit" value="New Reply">
	<p class="error">{{once "new-post-error"}}</p>
	<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form> 
</div>
</div>
{{ template "thread-template" $thread }}
{{ template "bottom" $board.Name }}
