{{range .Posts}}
{{$id := .Number}}
{{if .RandomID}}
#t{{$.Number}} .poster-id {
	background-color: {{idColor .RandomID}}
}
{{end}}
{{range .ReferredBy}}
#t{{$.Number}}:has(.ref-{{.From}}:hover) #p{{.From}}, #t{{$.Number}}:has(.l-{{$id}}:hover) #p{{$id}} {
	position: -webkit-sticky;
	position: sticky;
	bottom: 10px;
	top: 10px;
}
#t{{$.Number}}:has(.ref-{{.From}}:hover) #p{{.From}} div, #t{{$.Number}}:has(.l-{{$id}}:hover) #p{{$id}} div {
	background-color: var(--pc);
}
{{end}}
{{end}}
