{{define "thread-template"}}
<style>
{{range .Posts}}
{{$id := .Number}}
{{range .ReferredBy}}
#t{{$.Number}}:has(.ref-{{.From}}:hover) #p{{.From}}, #t{{$.Number}}:has(.l-{{$id}}:hover) #p{{$id}} {
	position: -webkit-sticky;
	position: sticky;
	bottom: 10px;
	top: 10px;
}
#t{{$.Number}}:has(.ref-{{.From}}:hover) #p{{.From}} div, #t{{$.Number}}:has(.l-{{$id}}:hover) #p{{$id}} div {
	background-color: var(--pc);
}
{{end}}
{{end}}
</style>
<div id="t{{$.Number}}">
{{range .Posts}}
{{$moderator := hasRank "moderator"}}
{{if (or (not .Disabled) $moderator)}}
<div id="{{.Number}}"></div>
<div id="p{{.Number}}">
<div class="post{{if .Disabled}} post-hidden{{end}}">
<p>
{{if eq .Number $.Number}}
	<span class="title">{{$.Title}}</span>
{{end}}
{{if .Signed}}
	<abbr title="Signed"><span class="name ">{{.Name}}</span></abbr>
{{else}}
	<span class="name ">{{.Name}}</span>
{{end}}
{{if .Rank}}
{{$rank := rankToString .Rank}}
<span class="{{$rank}}">{{capitalize $rank}}</span>
{{end}}
	<abbr title="{{.FormatAge}}">{{.FormatTimestamp}}</abbr>
	<a class="post-link" href="#{{.Number}}">No.{{.Number}}</a>
	{{if $moderator}}
	[<span class="ip">IP: {{.IP}}</span>]
	[<a class="action" href="/{{$.Board.Name}}/hide/{{.Number}}">{{if .Disabled}}Unhide{{else}}Hide{{end}}</a>]
	[<a class="action" href="/{{$.Board.Name}}/remove/{{.Number}}">Remove</a>]
{{if .Media}}
	[<a class="action" href="/{{$.Board.Name}}/remove_media/{{.Number}}">Delete Media</a>]
{{if isPending .MediaHash}}
	[<a class="action" href="/{{$.Board.Name}}/approve/{{.Number}}">Approve Media</a>]
{{end}}
{{end}}
	[<a class="action" href="/{{$.Board.Name}}/ban/{{.IP}}">Ban</a>]
	{{else}}
	{{if (or (and (eq .Session session) (not (eq .Session ""))) (and (eq self.ID .OwnerID) (not (eq .OwnerID 0))))}}
	[<a class="action" href="/{{$.Board.Name}}/cancel/{{.Number}}">Remove</a>]
	{{end}}
	{{end}}
	{{range .ReferredBy}}
	<a class="post-ref ref-{{.From}}" href="#{{.From}}">&gt;&gt;{{.From}}</a>
	{{end}}
</p>
{{if .Media}}
<div class="media-container">
	<input type="checkbox" class="zoom-check" id="zoom-check-{{.Number}}">
		<label for="zoom-check-{{.Number}}">
{{$border := ""}}
{{if (and (hasRank "moderator") (isPending .MediaHash))}}
{{$border = "pending-approval"}}
{{end}}
<img class="thumbnail {{$border}}" src="/media/thumbnail/{{.Thumbnail}}" alt="{{.Number}}">
		<img class="media {{$border}}" loading="lazy" src="/media/{{.Media}}" alt="{{.Number}}">
	</label>
</div>
{{end}}
<p class="content">{{.Content}}</p>
</div>
</div>
{{end}}
{{end}}
{{end}}
</div>
