{{define "thread-template"}}
{{$hotlink := hotlink}}
<style>
{{range .Posts}}
{{$id := .Number}}
{{range .ReferredBy}}
#t{{$.Number}}:has(.ref-{{.From}}:hover) #p{{.From}}, #t{{$.Number}}:has(.l-{{$id}}:hover) #p{{$id}} {
	position: -webkit-sticky;
	position: sticky;
	bottom: 10px;
	top: 10px;
}
#t{{$.Number}}:has(.ref-{{.From}}:hover) #p{{.From}} div, #t{{$.Number}}:has(.l-{{$id}}:hover) #p{{$id}} div {
	background-color: var(--pc);
}
{{end}}
{{end}}
</style>
<div id="t{{$.Number}}">
{{range .Posts}}
{{if (or (not .Disabled) (memberCan "VIEW_HIDDEN"))}}
<div id="{{.Number}}"></div>
<div id="p{{.Number}}">
<div class="post{{if .Disabled}} post-hidden{{end}}">
<p class="post-bar">
{{if eq .Number $.Number}}
{{if $.Pinned}}
        <img class="sticky" alt="pin" src="/static/sticky.png" title="Pinned thread">
{{end}}
	<span class="title">{{$.Title}}</span>
{{end}}
{{if .Signed}}
	<abbr title="Signed"><span class="name ">{{.Name}}</span></abbr>
{{else}}
	<span class="name">{{.Name}}</span>
{{end}}
{{if .Country}}
	<img class="flag" alt="country" src="/static/flags/{{.Country}}.png" title="{{country .Country}}">
{{else}}
&nbsp;
{{end}}
{{if .RandomID}}
	<span class="poster-id" style="background-color: {{idColor .RandomID}}">{{.RandomID}}</span>
&nbsp;
{{end}}
{{if .Rank}}
	<span class="{{.Rank}}">{{capitalize .Rank}}</span>
&nbsp;
{{end}}
	<abbr title="{{.FormatAge}}">{{.FormatTimestamp}}</abbr>
&nbsp;
	<a class="post-link" href="#{{.Number}}">No.{{.Number}}</a>
{{if can "VIEW_IP"}}
	[<span class="ip">IP: {{.IP}}</span>]
{{end}}
{{if memberCan "HIDE_POST"}}
	[<a class="action" href="/{{$.Board.Name}}/hide/{{.Number}}/{{get "csrf"}}">{{if .Disabled}}Unhide{{else}}Hide{{end}}</a>]
{{end}}
{{if memberCan "REMOVE_POST"}}
	[<a class="action" href="/{{$.Board.Name}}/remove/{{.Number}}/{{get "csrf"}}">Remove</a>]
{{end}}
{{if and (eq .Number $.Number) (memberCan "PIN_THREAD")}}
	[<a class="action" href="/{{$.Board.Name}}/pin/{{.Number}}/{{get "csrf"}}">{{if $.Pinned}}Unpin{{else}}Pin{{end}}</a>]
{{end}}
{{if .Media}}
{{if memberCan "REMOVE_MEDIA"}}
	[<a class="action" href="/{{$.Board.Name}}/remove_media/{{.Number}}/{{get "csrf"}}">Delete Media</a>]
{{else}}
	{{if (or (and (eq .Session session) (not (eq .Session ""))) (and (eq self.ID .OwnerID) (not (eq .OwnerID 0))))}}
	[<a class="action" href="/{{$.Board.Name}}/cancel/{{.Number}}/{{get "csrf"}}">Remove</a>]
	{{end}}
{{end}}
{{if can "BAN_MEDIA"}}
	[<a class="action" href="/{{$.Board.Name}}/ban_media/{{.Number}}/{{get "csrf"}}">Ban Media</a>]
{{end}}
{{if and (isPending .MediaHash) (memberCan "APPROVE_MEDIA")}}
	[<a class="action" href="/{{$.Board.Name}}/approve/{{.Number}}/{{get "csrf"}}">Approve Media</a>]
{{end}}
{{end}}
{{if can "BAN_IP"}}
	[<a class="action" href="/{{$.Board.Name}}/ban/{{.IP}}/{{get "csrf"}}">Ban</a>]
{{end}}
{{end}}
&nbsp;
{{range .ReferredBy}}
	<a class="post-ref ref-{{.From}}" href="#{{.From}}">&gt;&gt;{{.From}}</a>
{{end}}
</p>
{{if .Media}}
<div class="media-container">
	<input type="checkbox" class="zoom-check" id="zoom-check-{{.Number}}">
	<label for="zoom-check-{{.Number}}">
{{$border := ""}}
{{if (and (can "VIEW_PENDING_MEDIA") (isPending .MediaHash))}}
{{$border = "pending-approval"}}
{{end}}
		<img class="thumbnail {{$border}}" src="/media/thumbnail/{{.Thumbnail}}{{$hotlink}}" alt="{{.Number}}">
{{if or (isPicture .Media) (and (isPending .MediaHash) (not (can "VIEW_PENDING_MEDIA")))}}
                <img class="media {{$border}}" loading="lazy" src="/media/{{.Media}}{{$hotlink}}" alt="{{.Number}}">
{{else if (isVideo .Media)}}
                <div class="media media-video">
                        <p>[-]</p>
                        <video class="{{$border}}" controls>
                        <source src="/media/{{.Media}}{{$hotlink}}" type="video/{{extension .Media}}">
                        Your browser does not support this video format.
                        </video>
                </div>
{{end}}

	</label>
</div>
{{end}}
<p class="content">{{.Content}}</p>
</div>
</div>
{{end}}
{{end}}
</div>
