{{$thread := .}}
{{$board := $thread.Board}}
{{template "banner"}}
<h2 class="board-title">/{{$board.Name}}/ - {{$board.LongName}}</h2>
{{ template "top" $board.Name }}
{{if can "CREATE_POST"}}
<div class="form-container">
<div class="post form new-form">
<label for="show-form" class="btn">Hide new-reply box</label>
<input type="checkbox" id="show-form" {{if (not (has "new-post-error"))}} checked{{end}}>
<form method="post" enctype="multipart/form-data" id="new-reply">
	<table>
		<tr>
			<th>Name</th>
			<td><input class="namefield" type="text" id="name" name="name"></td>
		</tr>
{{if isLogged}}
		<tr>
			<th>Signed</th>
			<td><input type="checkbox" name="signed" style="width:auto;"></td>
		</tr>
{{end}}
{{if can "SHOW_RANK"}}
		<tr>
			<th>Show rank</th>
			<td><input type="checkbox" name="rank" style="width:auto;"></td>
		</tr>
{{end}}
		<tr>
			<th>Sage</th>
			<td><input type="checkbox" name="sage" style="width:auto;"></td>
		</tr>
		<tr>
			<th>Subject</th>
			<td><input type="text" id="title" name="title"></td>
		</tr>
{{if and isCaptchaEnabled (not (can "BYPASS_CAPTCHA"))}}
		<tr>
			<th></th>
			<td><img class="captcha" loading="lazy" src="/captcha" alt="captcha"></td>
		</tr>
		<tr>
			<th>Captcha</th>
			<td><input type="text" id="captcha" name="captcha" required="required"></td>
		</tr>
{{end}}
		<tr>
			<th>Comment</th>
			<td><textarea rows="5" cols="30" id="content" name="content"></textarea></td>
		</tr>
		<tr>
			<th>File</th>
			<td>
				<input style="width: auto;" type="file" id="media" name="media">
				<span>Spoiler</span>
				<input type="checkbox" name="spoiler" style="width:auto;">
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<input type="submit" style="width: 100%" value="New Reply">
			</td>
		</tr>
	</table>
	<p class="error">{{once "new-post-error"}}</p>
	<input type="hidden" name="csrf" value="{{get "csrf"}}">
</form> 
</div>
</div>
{{end}}
{{ template "thread-template" $thread }}
{{ template "bottom" $board.Name }}
