{{define "top"}}
<div class="separator"></div>
<div class="bar">
[<a href="/{{.}}">Return</a>]
[<a href="/{{.}}/catalog">Catalog</a>]
[<a href="#footer">Bottom</a>]
[<a href="">Update</a>]
</div>
<div class="separator"></div>
{{end}}
